.GlassMorphCard {
  background: #fff;
  width: 80vw;
  height: var(--card-height-N);
  border-radius: 30px;

  margin: 2em;
  position: relative;
  background: rgb(115 115 115 / 30%);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgb(120 120 120 / 30%) 42%,
    rgb(51 51 51 / 30%) 100%
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgb(122 122 122 / 30%);
  float: left;
}
.Card {
  overflow: auto;
  overflow: hidden;
  background: #fff;
  width: 80vw;
  height: var(--card-height-N);
  border-radius: 30px;

  margin: 2em;
  position: relative;
  border: 1px solid rgb(122 122 122 / 30%);
  float: left;
}
.Content {
  margin-top: 5em;
  margin-left: 5em;

  padding: 1em;

  height: 300px;
  width: 300px;
  float: left;
}
.Card h1 {
  position: relative;
  float: inline-start;
  color: black;
  font-family: monospace;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
}
.paragraph {
  font-family: monospace;
  position: relative;
  float: inline-end;
  color: black;
  font-size: large;
  margin-top: 2em;
  white-space: nowrap;
  overflow: hidden;
}
.greetin {
  animation: animated-text 4s steps(50, end) 0.5s 1 normal both;
}
.title {
  animation: animated-text 4s steps(50, end) 2s 1 normal both;
}
.paragraph {
  animation: animated-text 4s steps(50, end) 3.5s 1 normal both;
}

.icon {
  display: inline-block;
  position: relative;
  margin-top: 1.5em;
  margin-left: 12em;
  padding: 0;
  height: 50%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@media screen and (max-width: 1009px) and (max-height: 1000px) {
  .icon {
    margin-left: 100px;
    padding-bottom: 500px;
    height: 100px;
  }
}
