.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1 rem;
  border-bottom: var(--border);
}
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 800px) {
  .navbar {
    width: var(--nav-size);
    height: 100vh;
  }
  .navbar-nav {
    flex-direction: column;
    justify-content: center;
  }
}
