.Footer {
  background-color: var(--bg-footer);
  height: 150px;
  border-top: var(--border);
}
@media (max-width: 1200px) {
  .Footer {
    height: 300px;
    justify-content: center;
    align-items: center;
  }
}
