:root {
  --bg: #242526;
  --bg-acent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 70px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --bg-footer: #333333;
  --bg-purple: #8a2be2;
  --bg-orange: #ffa500;
  --bg-profile: linear-gradient(var(--bg), var(--bg-footer));
}
